:root {
  --grid: 3;
  --size: 100px;
}

html,
body {
  height: 100%;
}

.field {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.field__row {
  display: grid;
  grid-template-columns: repeat(var(--grid), var(--size));
  grid-template-rows: repeat(var(--grid), var(--size));
  border: 1px solid #000;
}
.field__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border: 1px solid #000;
}
.field__point {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #000;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  -webkit-transform: var(--transform);
  transform: var(--transform);
  border-radius: 100%;
  background-color: red;
}
.field__point:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-bottom-color: red;
}
