:root {
  --grid: 3;
  --size: 80px;
  --transform: translate(0);
}

label{
  color: rebeccapurple;
}

html,
body {
  height: 100%;
}

.center{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.show{
  font-size: 18px;
  margin-bottom: 20px;
}

.wrapper{
  display: flex;
  padding-top: 50px;
  margin-left: -20px;
}

.wrapper__item{
  margin-left: 20px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.field__row {
  display: grid;
  width: 500px;
  grid-template-columns: repeat(var(--grid), var(--size));
  grid-template-rows: repeat(var(--grid), var(--size));
  justify-content: center;
}

.field__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border: 1px solid #000;
  color: #000000;
}

.field__item.start{
  background-color: green;
}

.field__item.end{
  background-color: red;
}

.field__point {
  position: relative;
  width: 30px;
  height: 30px;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transform: var(--transform);
  border-radius: 100%;
  background-color: rebeccapurple;
}

.field__point:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-bottom-color: rebeccapurple;
}
